---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 61ab33e7da6ffffeef140e858380738d178d3504
      X-Memc-Age:
      - '3208'
      X-Memc-Expires:
      - '12729'
      Etag:
      - W/"eef2255cb653e8825cd1f0ccbc95e0c7"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","belongs_to_collection":null,"budget":25000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":278,"imdb_id":"tt0111161","original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":77.05,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","production_companies":[{"id":97,"logo_path":"/7znWcbDd4PcJzJUlJxYqAlPPykp.png","name":"Castle
        Rock Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1994-09-23","revenue":28341469,"runtime":142,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fear
        can hold you prisoner. Hope can set you free.","title":"The Shawshank Redemption","video":false,"vote_average":8.7,"vote_count":20285}'
  recorded_at: Wed, 15 Dec 2021 19:02:18 GMT
[...]
